/**
 * Site header
 */
.site-header {

    padding-top: 1em;

    text-align: center;

    // padding-bottom: 0.5em;
    border-bottom: 1px solid #cfcfcf;

    .page-link {
        text-transform: uppercase;
    }

    .phone {
        font-size: 1.6em;
    }

    .header-top {
        margin-top: 1em;
        margin-bottom: 1.5em;

        > * {
            vertical-align: middle;
        }
    }

    .header-logo {
        // float: left;
        display: inline-block;

        // margin-left: 30%;

        margin-right: 15%;
    }

    .header-right-side {
        // float: right;
        display: inline-block;

        // margin-right: 30%;

        text-align: left;

        i {
            vertical-align: bottom;
            margin-bottom: 0.12em;

            // color: $saturated-color;
        }

        a {
            color: black;
        }
    }

    .site-nav {
        clear: both;

        // margin-top: 2em;
        // margin-bottom: 1em;

        padding-top: 2em;
        padding-bottom: 1em;

        font-weight: bold;

        background: #3f3f3f;
        width: 100%;

        li.current {
            a {
                border-bottom: 0.1em solid $saturated-color;
            }
        }

        li {
            a {
                padding-bottom: 0.2em;
                color: white;
            }
        }
    }

    // border-top: 5px solid $grey-color-dark;
    // border-bottom: 1px solid $grey-color-light;
    // min-height: 56px;

    // // Positioning context for the mobile navigation icon
    // position: relative;
}

.site-title {
    margin-right: 3em;
    font-size: 1.5em;

    font-weight: bold;

    // font-weight: 300;
    // line-height: 56px;
    // letter-spacing: -1px;
    // margin-bottom: 0;
    // float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }

    &:hover, &:active {
        text-decoration: none;
    }
}

.site-nav {
    display: inline-block;

    // float: right;
    // line-height: 56px;

    ul {
        display: inline-block;
    }

    ul {
        list-style-type: none;
    }

    li {
        display: inline-block;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 2em;
        }
    }

    a {
        &:hover, &:active {
            text-decoration: none;
        }
    }

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;
    }
}

.header-logo img {
    // ie10 fix
    border: none;
}

@include media-query($on-palm) {

    .site-header {
        padding: 0;

        text-align: left;

        ul {
            margin: 0;
        }

        .site-title {
            display: none;
        }
    }

    .site-header-desktop {
        margin-top: 0;
        padding-top: 0.3em;
        padding-bottom: 0.3em;

        text-align: center;

        ul {
            display: none;
        }

        .site-title {
            display: inline-block;
            margin: 0;
        }
    }

    .site-header {
        .site-nav {
            padding-top: 0.5em;
            // padding: 0;
            // margin-top: 0.5em;
            // margin-bottom: 0.5em;

            li:first-child {
                padding-bottom: 0.5em;
            }

            li.current .page-link {
                border: none;
                color: $saturated-color;
            }
        }

        .header-top {
            margin-top: 0.3em;
            margin-bottom: 0.8em;
        }

        .header-right-side {
            display: none;
        }

        .header-logo {
            margin-right: 0;
        }
    }

    .site-header-desktop {
        .site-nav {
            display: none;
        }
    }
}