/**
 * Page content
 */
article {
    padding-left: $spacing-unit;
    padding-right: $spacing-unit;

    .captioned-image {
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

article.home {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;

    margin-top: -1px; // border
    margin-bottom: 0;

    .content-wrapper {
        margin-top: 5em;
        margin-bottom: 3em;
    }
}

.content-wrapper {
    margin-top: 3em;
    margin-bottom: 3em;
}

// .page-heading {
//     font-size: 20px;
// }

// .post-list {
//     margin-left: 0;
//     list-style: none;

//     > li {
//         margin-bottom: $spacing-unit;
//     }
// }

// .post-meta {
//     font-size: $small-font-size;
//     color: $grey-color;
// }

// .post-link {
//     display: block;
//     font-size: 24px;
// }

/**
 * Posts
 */

// .post-header {
//     margin-bottom: $spacing-unit;
// }

// .post-title {
//     font-size: 2em;
//     letter-spacing: -1px;
//     line-height: 1;
// }

// .post-content {
//     // margin-bottom: $spacing-unit;

//     h2 {
//         font-size: 2em;

//         @include media-query($on-laptop) {
//             font-size: 28px;
//         }
//     }

//     h3 {
//         font-size: 1.7em;

//         @include media-query($on-laptop) {
//             font-size: 22px;
//         }
//     }

//     h4 {
//         font-size: 1.4em;

//         @include media-query($on-laptop) {
//             font-size: 18px;
//         }
//     }
// }

// contacts page

// .address-icon {
//     line-height: 35px;
//     background: url("../images/icons/map_marker.png") left center no-repeat;
//     padding-left: 45px;
//     display: inline-block;
// }

// .email-icon {
//     display: inline-block;
//     width: 30px;
//     height: 21px;
//     margin-top: 13px;
//     background: url(../images/layout/email_icon_banner.png) no-repeat;
// }

// .phone-icon {
//     display: inline-block;
//     width: 29px;
//     height: 26px;
//     margin-top: 6px;
//     background: url(../images/layout/phone_icon_banner.png) no-repeat;
// }

@include media-query($on-palm) {

    body {
        width: 100%;
        height: 100%;

        font-size: 16px;
    }
}

@include media-query($on-palm) {

    article {
        .captioned-image {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .content-wrapper {
        margin-top: 1.6em;
        margin-bottom: 1.6em;
    }

    article.home {
        .content-wrapper {
            margin-top: 3em;
            margin-bottom: 1.6em;
        }
    }

    // .post-title {
    //     font-size: 1.8em;
    // }

    // .post-header, .post-title {
    //     margin-bottom: 0.6em;
    // }

    .site-header {
        .site-nav {
            padding-top: 0.5em;
            // padding: 0;
            // margin-top: 0.5em;
            // margin-bottom: 0.5em;

            li:first-child {
                padding-bottom: 0.5em;
            }

            li.current .page-link {
                border: none;
                color: $saturated-color;
            }
        }

        .header-top {
            margin-top: 0.3em;
            margin-bottom: 0.8em;
        }

        .header-right-side {
            display: none;
        }

        .header-logo {
            margin-right: 0;
        }
    }

    .site-header-desktop {
        .site-nav {
            display: none;
        }
    }
}